<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Content -->
        {% block extra_styling %}
        {% endblock %}

        {% if title %}
           <title>{{ title }}</title>
        {% else %}
            <title>Flask Image Gallery</title>
        {% endif %}
    </head>
    <body>
        <div class="grid_container">
            <header class="header">
                <h1>Flask Image Gallery</h1>
            </header>

            <nav class="navLinks">
                <ul>
                    {% if current_user.is_authenticated %}
                        <li><a class="nav-item nav-link" href="{{ url_for('gallery.gallery') }}">Gallery</a><li>
                        <li><a class="nav-item nav-link" href="{{ url_for('gallery.add_image') }}">Add Image</a><li>
                        <li><a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a><li>
                    {% else %}
                        <li><a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a></li>
                        <li><a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div class="flashMessages">
                <!-- Flash Message -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

            <div class="grid_content">
                <!-- Content -->
                {% block content %}
                {% endblock %}
            </div>

            <footer class="footer">
                <h4>Created by Patrick</h4>
            </footer>
        </div>

    {% block vuejs %}
    {% endblock %}

    </body>
</html>