{% extends "base.html" %}

{% block content %}
    <h1>Password Change</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h2>Email: {{ current_user.email }}</h2>
        <br>
        <h2>Please enter a new password:</h2>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=24) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=24) }}<br>
            {% for error in form.confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
