{% extends "base.html" %}

{% block content %}
    <h1>Add Image</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <p>
            {{ form.image.label }}<br>
            {{ form.image }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image_title.label }}<br>
            {{ form.image_title(size=40) }}<br>
            {% for error in form.image_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image_description.label }}<br>
            {{ form.image_description(size=80) }}<br>
            {% for error in form.image_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
