{% extends "base.html" %}

{% block extra_styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_image_view.css') }}">
{% endblock %}


{% block content %}
    <div class="imageDisplay">
        <img src="{{ image.filename_with_path }}" alt="{{ image.title }}">
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="imageTitle">
            <h3>Title:</h3>
            <input type="text" id="image_title" name="image_title" value="{{ image.title }}">
        </div>

        <div class="imageDate">
            <h3>Date: {{ image.date_created }}</h3>
        </div>

        <div class="imageDescription">
            <h3>Description:</h3>
            <input type="text" id="image_description" name="image_description" value="{{ image.description }}">
        </div>

        <div class="imageEvent">
            <h3>Event: ________</h3>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}




