{% extends "base.html" %}

{% block extra_styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_image_gallery.css') }}">
{% endblock %}


{% block content %}
    {% for image in images %}
        <div class="card">
            <a href="{{ url_for('gallery.image_view', image_id=image.id) }}"><img src="{{ image.thumbnail_with_path }}" alt="{{ image.title }}"></a>
            <div class="card_text">
                <h4>{{ image.title }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}
