{% extends "base.html" %}

{% block extra_styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_image_view.css') }}">
{% endblock %}


{% block content %}
    <div class="imageDisplay">
        <img src="{{ image.filename_with_path }}" alt="{{ image.title }}">
    </div>

    <div class="imageTitle">
        <h2>Title: {{ image.title }}</h2>
    </div>

    <div class="imageDate">
        <h2>Date: {{ image.date_created }}</h2>
    </div>

    <div class="imageDescription">
        <h2>Description: {{ image.description }}</h2>
    </div>

    <div class="imageEvent">
        <h2>Event: ________</h2>
    </div>

    <a href="{{ url_for('gallery.edit_image', image_id=image.id) }}">Edit</a>
    <a href="{{ url_for('gallery.delete_image', image_id=image.id) }}">Delete</a>

{% endblock %}
