/* CSS Grid Content Styling
 *****************************/
 .grid_content {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 10px;
 }

/* Card Styling
***************/
.card {
  position: relative;
  margin: 2px;
  border-radius: .25rem;
  padding: 2px;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  background: white;
  padding: 0px;
}

.card .card_text {
  position: relative;
  bottom: 20%;
}

.card h4 {
  text-align: center;
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.5);  /* Black background with 0.5 opacity */
  color: #f1f1f1;  /* Grey text */
}
