* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgba(23, 50, 91, 1.0); */
  background-color: rgb(42, 114, 187);
  color: white;
}

/* CSS Grid (Top-Level) Styling
 ******************************/
.header {
  grid-area: header;
}
.navLinks {
  grid-area: navLinks;
}
.flashMessages {
  grid-area: flashMessages;
}
.grid_content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.grid_container {
  display: grid;
  grid-template-columns: 10% 25% auto 10%;
  grid-gap: 10px;
  max-width: 960px;
  margin: auto;
  grid-template-areas:
    "header         header         header         header"
    "navLinks       navLinks       navLinks       navLinks"
    "flashMessages  flashMessages  flashMessages  flashMessages"
    "......         content        content        ......"
    "footer         footer         footer         footer";
}

@media screen and (min-width: 900px) {
  .grid_container {
    display: grid;
    grid-template-columns: 10% 25% auto 10%;
    grid-gap: 10px;
    max-width: 1280px;
    margin: auto;
    grid-template-areas:
      "header         header         navLinks       navLinks"
      "flashMessages  flashMessages  flashMessages  flashMessages"
      "......         content        content        ......"
      "footer         footer         footer         footer";
  }
}

/* Header Styling
 ****************/
.header {
  margin: auto;
}

.header h1 {
  font-size: 2.5em;
}

/* Navigation Links Styling
 **************************/
.navLinks {
  margin: auto;
}

.navLinks ul {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding-left: 1em;
  font-size: 1.5em;
}

.navLinks li a {
  text-decoration: none;
}

/* Footer Styling
*****************/
.footer{
  margin: auto;
}

.footer h4 {
  font-size: 1em;
}


/* Flash Messages Styling
*************************/
.flashMessages li {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
