/* CSS Grid (Content) Styling
 ******************************/
.imageDisplay {
  grid-area: imageDisplay;
}
.imageTitle {
  grid-area: imageTitle;
}
.imageDate {
  grid-area: imageDate;
}
.imageDescription {
  grid-area: imageDescription;
}
.imageEvent {
  grid-area: imageEvent;
}

.grid_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 960px;
  margin: 0;
  grid-template-areas:
    "imageDisplay      imageDisplay"
    "imageTitle        imageDate"
    "imageDescription  imageDescription"
    "imageEvent        imageEvent";
}

@media screen and (min-width: 900px) {
  .grid_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 1280px;
    margin: 0;
    grid-template-areas:
      "imageDisplay  imageDisplay  imageTitle"
      "imageDisplay  imageDisplay  imageDate"
      "imageDisplay  imageDisplay  imageDescription"
      "imageDisplay  imageDisplay  imageEvent";
  }
}


/* CSS Grid Content Styling
 *****************************/

.imageDisplay img {
  width: 100%;
  height: auto;
  background: white;
  padding: 0px;
}

input[type=text] {
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1em;
}